*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Rubik', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,50,0.8),rgba(0,0,50,0.8)), url(background.png);
    background-size: cover;
}
.login-form{
    position: absolute;
    width: 350px;
    background-color: #fff; 
    padding: 30px;
    border-radius: 10px; 
}
.reg-form{
    position: absolute;
    width: 350px;
    background-color: #fff; 
    padding: 30px;
    border-radius: 10px; 
}
.form-title{
    margin-bottom: 30px;
}
.login-form input{
    height: 50px;
    width: 100%;
    margin-bottom:10px;
    outline: none;   
    border: none; 
    font-size: 20px;
    border-bottom: 1px solid #747474;
    /* transition: max-height 0.5s;
    overflow: hidden; */
}
.reg-form input{
    height: 50px;
    width: 100%;
    margin-bottom:10px;
    outline: none;   
    border: none; 
    font-size: 20px;
    border-bottom: 1px solid #747474;
}
input::placeholder {
    font-weight: bold;
    letter-spacing: .5px; 
    font-size: 13px;   
}
#forgot, .switchBt{
   text-decoration: none;
   color: #747474;
   letter-spacing: 0.2px;
   display: inline-block;
   font-size:15px;
   cursor: pointer;
}

#forgot{
    margin-top: 10px;
}
.switchBt{
    margin-top: 15px;
    margin-bottom: 30px;
}
.action button{
    width: 100%;
    height: 45px;
    border: 0;
    outline: 0;
    cursor: pointer;
    background: #3c00a0;
    color: #fff;
    border-radius: 20px;
    transition:background 1s;
}
/* .action .disable{
    background: #eaeaea;
    color: #555;
} */
/* .reg-form .action button{
    width: 50%;
    height: 100%;
    float: left;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background: #e8e9ec;
    color: #777;
    letter-spacing: 0.2px;
} */
/* .login-form #regBt{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
} */
/* .login-form #signBt{
    background-color: #2d3b55;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.reg-form #regBt{
    background-color: #2d3b55;
    color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.reg-form #signBt{
    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
} */